<h1>Add User :</h1>
<form action="/add/user" method="post">
<div class="form-group  col-md-6">
    <label>User ID</label>
    <input type="text" name="id" class="form-control" placeholder="Enetr User ID">
</div>
<div class="form-group  col-md-6">
    <label>User Name</label>
    <input type="text" name="name" class="form-control" placeholder="Enetr User Name">
</div>
<div class="form-group  col-md-6">
    <label>User email</label>
    <input type="text" name="email" class="form-control" placeholder="Enetr User Email">
</div>
<div class="form-group  col-md-6">
    <label>User Phone</label>
    <input type="text" name="phone" class="form-control" placeholder="Enetr User Phone Number">
</div>
<input type="submit" value="Submit" class="btn btn-success" style="margin-top : 10px ">
</form>