<h1>Search Users :</h1>


<form method="post" action="/user">

<div class="form-group col-md-6">

<label>Enter User ID :</label>

<input type="text" name="usid" id="usid" placeholder="User ID" class="form-control">

</div>

<input type="submit" class="btn btn-light" value="search" style="margin-top : 10px ">
<a href="/add" class="btn btn-outline-info" style="margin-top : 10px ">Add User</a>
</form>

